<template name="layout">
 <h1 class = "layout">Fem Stem</h1>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Famous Women<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addFW">Add a famous women</a></li>
            <li><a href="/FW">Famous Women</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/ourstory">Our story</a></li>
            <li><a href="/oursupporters">Our Supporters</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="friends.html"><button>Friends</button></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
    </form>

  </nav>



  <a href="/friends" class="btn btn-info btn-sm">Freinds</a>
  <a href="/searchpage" class="btn btn-info btn-sm">Find a Collaberator</a>

  <!-- Single dropdown button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/aboutus">About us</a></li>
      <li><a href="/ourstory">Our story</a></li>
      <li><a href="/oursupporters">Our Supporters</a></li>
      <li><a href="/oursupporters">chat</a></li>
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Famous Women <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/addFW">Add a famous women</a></li>
      <li><a href="/FW">Famous Women</a></li>
    </ul>
  </div>

  <hr>
  {{#if currentUser}}
  {{> yield}}
  {{else}}
  You must log in to use this app
  {{/if}}
  <hr>
  <footer>
      <center>&copy; FemStem Project 2017 All Rights Reserved</center>
  </footer>
</template>
