.layout {
  font-size: 24;
  font-family: cursive;
  font-weight: bold;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.footer {
  position: relative;
  bottom: 0;
}
