<template name="layout">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">FemStem</a>
      </div>

      <ul class="nav navbar-nav">

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Famous Women<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addFW">Add a famous women</a></li>
            <li><a href="/FWlist">Famous Women</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/ourstory">Our story</a></li>
            <li><a href="/oursupporters">Our Supporters</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li>{{> loginButtons}}</li>
      </ul>

    </div>
  </nav>

  <hr>
  {{#if currentUser}}
    {{> yield}}
  {{else}}
    You must log in to use this app
  {{/if}}
  <hr>
  <footer>
      <center>&copy; FemStem Project 2017 All Rights Reserved</center>
  </footer>
</template>
