<template name="layout">
  <a href="/searchpage" class="btn btn-info btn-sm">Find a Collaberator</a>

  <!-- Single dropdown button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/aboutus">About us</a></li>
      <li><a href="/ourstory">Our story</a></li>
      <li><a href="/oursupporters">Our Supporters</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Famous Women <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/addFW">Add a famous women</a></li>
      <li><a href="/FW">Famous Women</a></li>
    </ul>
  </div>

  <hr>
  {{#if currentUser}}
  {{> yield}}
  {{else}}
  You must log in to use this app
  {{/if}}
  <hr>
  <footer>
      <center>&copy; FemStem Project 2017 All Rights Reserved</center>
  </footer>
</template>
