.aboutus{
  font-size: 24px !important;
  font-family: "Georgia", Georgia, serif !important;
  color: white;
  text-shadow: 2px 2px 4px black, 0 0 1em lightblue, 0 0 0.2em lightblue;
  float: left;
  margin-left: 100px;
  float: right;
  margin-right: 500px;
}

.aboutush{
  font-size: 48px !important;
  font-family: "Georgia", Georgia, serif !important;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em lightblue, 0 0 0.2em lightblue;
  float: left;
  margin-left: 100px;
}
