.main{
  font-size: 76 !important;
  font-family:cursive;
  font-weight: bold;
}
.heading{
  font-size: 48 !important;
  font-family: cursive;
  font-weight: normal;
}

body{
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/78/81/03/7881036575d15f28f497de2a2f61f7f5--red-watercolor-background-pink-watercolor-wallpaper.jpg');
}
