div.fb-post {
  margin:100px;

  padding:50px;
  background-color: lightblue;
}

textarea#fb-posttext{
  background-color: lightblue;
}

.text{
  font-size: 48px !important;
  font-family: "Georgia", Georgia, serif !important;
  color: black;
  text-shadow: 2px 2px 4px black, 0 0 1em lightblue, 0 0 0.2em lightblue;
}

#bio-img{
  padding:1em;
  margin:1em;
}
#bio {
  font-size: 48;
  font-family:"Georgia", Georgia, serif;
  color: black;
  text-shadow: 2px 2px 4px black, 0 0 1em lightblue, 0 0 0.2em lightblue;
  margin:1em;
  padding:1em;
}

#myfbprofile {
  font-size: 48;
  font-family:"Georgia", Georgia, serif;
  color: black;
  text-shadow: 2px 2px 4px black, 0 0 1em lightblue, 0 0 0.2em lightblue;
  margin:1em;
  padding:1em;
  border:thick solid black;
  padding:1em; margin:1em;
  background: #ddeeff
}

.fbrmpost {
  float:right;
  margin-right:100;
}
